<article class="content-menucenter">
  <div class="entry">
    <p>
      <a href="#">
        <img src="assets/images/banner5.jpg"/>
      </a>
    </p>
  </div>
</article>
<div class="main menu-main">
  <ul class="product-list">
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/combo_crunchy_whp-min.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>Burger 2 miếng bò khoai giòn tràn phô mai </h2> </a></div>
        <p class="describe"> Burger 2 miếng bò khoai giòn tràn phô mai</p>
        <div class="product-bottom">
          <h3 class="product-price">86.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/menu6_dbl_crunchy_whp-min_1.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>BURGER BÒ NƯỚNG WHOPPER </h2> </a></div>
        <p class="describe"> BURGER BÒ NƯỚNG WHOPPER</p>
        <div class="product-bottom">
          <h3 class="product-price">95.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/menu6_dbl_crunchy_whp-min_1.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)" >
        </a>
        <div class="product-title">
          <a href="#"><h2>BURGER BÒ NƯỚNG WHOPPER </h2> </a></div>
        <p class="describe"> BURGER BÒ NƯỚNG WHOPPER</p>
        <div class="product-bottom">
          <h3 class="product-price">95.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button" onclick="openpopup()">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>

      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img class="special" src="assets/images/menu8_bg-bo-whopper.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>BURGER BÒ NƯỚNG HÀNH CHIÊN< </h2> </a></div>
        <p class="describe"> BURGER BÒ NƯỚNG HÀNH CHIÊN</p>
        <div class="product-bottom">
          <h3 class="product-price">80.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>

            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/combo_crunchy_whp-min.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)" >
        </a>
        <div class="product-title">
          <a href="#"><h2> Burger bò khoai giòn tràn phô mai </h2> </a></div>
        <p class="describe"> Burger bò khoai giòn tràn phô mai</p>
        <div class="product-bottom">
          <h3 class="product-price">76.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/menu6_dbl_crunchy_whp-min_1.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>BURGER BÒ NƯỚNG WHOPPER </h2> </a></div>
        <p class="describe"> BURGER BÒ NƯỚNG WHOPPER</p>
        <div class="product-bottom">
          <h3 class="product-price">95.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img class="special" src="assets/images/menu8_bg-bo-whopper.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>BURGER BÒ NƯỚNG HÀNH CHIÊN </h2> </a></div>
        <p class="describe"> BURGER BÒ NƯỚNG HÀNH CHIÊN</p>
        <div class="product-bottom">
          <h3 class="product-price">80.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
