<footer class="footer section">
  <div class="container">
    <div>
      <div class="copyright">
        <p>Copyright 2020 Vietnam Burger Corporation.All Rights Reserved.</p>
      </div>
      <ul class="bottomlinks">
        <li><a href="#"> About Us</a></li>
        <li><a href="#"> Contact</a></li>
      </ul>
    </div>
    <div class="hotline-bar">
      <a href="0123456789">
        <span class="hotline"><img src="assets/images/Burgerking-Delivery-Desktop.png" /></span>
      </a>
    </div>
  </div>
</footer>
