<article class="content-menucenter">
  <div class="entry">
    <p>
      <a href="#">
        <img src="assets/images/h7.jpg"/>
      </a>
    </p>
  </div>
</article>
<div class="main menu-main">
  <ul class="product-list">
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/monankem_shoestringfries_small-v1_1.png" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)" >
        </a>
        <div class="product-title">
          <a routerLink="productdetail"><h2>Khoai tây chiên sizeM</h2> </a></div>
        <p class="describe">FRIES Khoai tây chiên size m</p>
        <div class="product-bottom">
          <h3 class="product-price">27.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button" onclick="openpopup()">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>

      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img class="special" src="assets/images/monankemg_nuggets_chicken_nuggets__2.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>Gà nuggets </h2> </a></div>
        <p class="describe">Gà nuggets </p>
        <div class="product-bottom">
          <h3 class="product-price">26.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>

            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img btn-bundle">
          <img src="assets/images/monankemph_mai_que_cheesesticks_.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)" >
        </a>
        <div class="product-title">
          <a href="#"><h2> Phô mai que</h2> </a></div>
        <p class="describe">Phô mai que</p>
        <div class="product-bottom">
          <h3 class="product-price">25.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/cheese_ring_alc.jpg" width="317" alt="Burger Siêu nhân phô mai (cỡ vừa)">
        </a>
        <div class="product-title">
          <a href="#"><h2>Vòng phô mai</h2> </a></div>
        <p class="describe"> Vòng phô mai </p>
        <div class="product-bottom">
          <h3 class="product-price">36.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>

  </ul>
</div>

