<div class="card" >
  <img src="images/menu1_sieu_nhan_pho_mai_co_vua_1.jpg"  style="width:100%">
  <div class ="productname"><h1>BURGER WHOPPER</h1></div>
  <br/>
  <div class="addon">
    <p><b>Add-on</b></p>
    <input type="checkbox" id="myCheck1">
    <label for="myCheck1">Cheese + 5.000 VND</label><br/>
    <input type="checkbox" id="myCheck2">
    <label for="myCheck2">Bacon + 15.000 VND</label><br/>
    <input type="checkbox" id="myCheck3">
    <label for="myCheck3">Cheese Sauce + 10.000 VND</label><br/>
    <input type="checkbox" id="myCheck4">
    <label for="myCheck4">Tender grill patty + 40.000 VND</label><br/>
    <input type="checkbox" id="myCheck5">
    <label for="myCheck5">Tender crisp patty + 40.000 VND</label><br/>
  </div>
  <br/>
  <p class="price">115.000 VND</p>
  <p><button>Add to Cart</button></p>
</div>
