<nav class="nav section">
  <div class="container">
    <!--            //luon thang hang va o giua man hinh//-->
    <ul class="menu">
      <li class="item">
        <a  routerLink="mon-le" ><img class="thumbnail" src="/assets/images/P-BURGER_menu1.jpg" width="100" />
          <h3 class="product-item">Món Lẻ</h3></a></li>
      <li class="item">
        <a  routerLink="mon-moi"><img class="thumbnail" src="/assets/images/New.png"width="90"/>
          <h3 class="product-item">Món Mới</h3></a></li>
      <li class="item">
        <a  routerLink="mon-burger"><img class="thumbnail" src="/assets/images/P-BURGER_menu1.jpg"width="90"/>
          <h3 class="product-item"> Burger </h3></a></li>
      <li class="item">
        <a routerLink="mon-combo"><img class="thumbnail" src="/assets/images/P-BURGER_menu1.jpg"width="90"/>
          <h3 class="product-item">Combo</h3></a></li>
      <li class="item">
        <a routerLink="mon-garan"><img class="thumbnail" src="/assets/images/P-GA-RAN.jpg"width="90"/>
          <h3 class="product-item">Gà Rán</h3></a></li>
      <li class="item">
        <a routerLink="mon-comvua"><img class="thumbnail" src="/assets/images/P-RICE-KING.png"width="90"/>
          <h3 class="product-item">Cơm Vua</h3></a></li>
      <li class="item">
        <a routerLink="mon-ankem"><img class="thumbnail" src="/assets/images/P-MON-AN-KEM.png"width="90"/>
          <h3 class="product-item">Món Ăn Kèm</h3></a></li>
      <li class="item">
        <a routerLink="thuc-uong"><img class="thumbnail" src="/assets/images/P-THUC-UONG.jpg"width="90"/>
          <h3 class="product-item">Thức Uống</h3></a></li>
    </ul>
  </div>
</nav>

