<article class="content-menucenter">
  <div class="entry">
    <p>
      <a href="#">
        <img src="assets/images/banner6.jpg"/>
      </a>
    </p>
  </div>
</article>
<div class="menu-main">
  <ul class="product-list">
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-gion-0-cay.jpg" width="317" alt="Gà rán không cay" >
        </a>
        <div class="product-title">
          <a href="#"><h2>Gà rán không cay </h2> </a></div>
        <p class="describe">Gà rán không cay </p>
        <div class="product-bottom">
          <h3 class="product-price">38.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button" onclick="openpopup()">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>
      </div>
    </li>

    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-bbq.jpg" width="317" alt="Gà rán BBQ" >
        </a>
        <div class="product-title">
          <a href="#"><h2> Gà rán BBQ</h2> </a></div>
        <p class="describe">Gà rán BBQ</p>
        <div class="product-bottom">
          <h3 class="product-price">39.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-combo-2mieng-bbqwings_1.jpg" width="317"  alt="Combo gà rán giòn cay">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo gà rán giòn cay</h2> </a></div>
        <p class="describe"> Combo gà rán giòn cay</p>
        <div class="product-bottom">
          <h3 class="product-price">90.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-combo-2mieng-crispy_1.jpg" width="317"  alt="Combo gà rán không cay">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo gà rán không cay</h2> </a></div>
        <p class="describe"> Combo gà rán không cay </p>
        <div class="product-bottom">
          <h3 class="product-price">90.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-combo-3mieng-bbqwings.jpg" width="317"  alt="Combo gà BBQ 3 miếng">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo gà BBQ 3 miếng</h2> </a></div>
        <p class="describe"> Combo gà BBQ 3 miếng</p>
        <div class="product-bottom">
          <h3 class="product-price">119.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-combo-3mieng-flamin.jpg" width="317"  alt="Combo gà giòn cay 3 miếng">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo gà giòn cay 3 miếng</h2> </a></div>
        <p class="describe"> Combo gà giòn cay 3 miếng </p>
        <div class="product-bottom">
          <h3 class="product-price">119.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-ga-combo-3mieng-flamin.jpg" width="317"  alt="Combo gà giòn không cay 3 miếng">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo gà giòn cay không 3 miếng</h2> </a></div>
        <p class="describe"> Combo gà giòn không cay 3 miếng </p>
        <div class="product-bottom">
          <h3 class="product-price">119.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
