<article class="content-menucenter">
  <div class="entry">
    <p>
      <a href="#">
        <img src="assets/images/h7.jpg"/>
      </a>
    </p>
  </div>
</article>
<div class="main menu-main">
  <ul class="product-list">
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-com-1pc_bo_2pcs_nugget.jpg" width="317" alt="Cơm gà nugget" >
        </a>
        <div class="product-title">
          <a href="#"><h2>Cơm gà nugget</h2> </a></div>
        <p class="describe">Cơm gà nugget<</p>
        <div class="product-bottom">
          <h3 class="product-price">45.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button" onclick="openpopup()">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>

      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img class="special" src="assets/images/mon-com-4pcs_ga_nugget_2.jpg" width="317" alt="Cơm gà cnc + nugget">
        </a>
        <div class="product-title">
          <a href="#"><h2>Cơm gà cnc + nugget</h2> </a></div>
        <p class="describe">Cơm gà cnc + nugget </p>
        <div class="product-bottom">
          <h3 class="product-price">45.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>

            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-com-4pcs_ga_nugget_coke.jpg" width="317" alt="Combo cơm gà nugget + coca" >
        </a>
        <div class="product-title">
          <a href="#"><h2> Combo cơm gà nugget + coca</h2> </a></div>
        <p class="describe">Combo cơm gà nugget + coca</p>
        <div class="product-bottom">
          <h3 class="product-price">55.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-com-combo_com_bo_sot_pho_mai.jpg" width="317" alt="Combo cơm bò nướng sốt phô mai">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo cơm bò nướng sốt phô mai</h2> </a></div>
        <p class="describe"> Combo cơm bò nướng sốt phô mai </p>
        <div class="product-bottom">
          <h3 class="product-price">64.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-com-combo_com_bo_sot_bbq.jpg" width="317" alt="Combo cơm bò nướng sốt bbq">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo cơm bò nướng sốt bbq</h2> </a></div>
        <p class="describe"> Combo cơm bò nướng sốt bbq </p>
        <div class="product-bottom">
          <h3 class="product-price">64.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item ">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/mon-com-combo_ga_nuong_sot_bbq.jpg" width="317" alt="Combo cơm cánh gà bbq">
        </a>
        <div class="product-title">
          <a href="#"><h2>Combo cơm cánh gà bbq</h2> </a></div>
        <p class="describe"> Combo cơm cánh gà bbq </p>
        <div class="product-bottom">
          <h3 class="product-price">59.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    <li class="product-item ">
    <div class="product-inner">
      <a href="#" class="product-img add-cart btn-bundle">
        <img src="assets/images/mon-com-fish_fillet_1.jpg" width="317" alt="Cơm cá">
      </a>
      <div class="product-title">
        <a href="#"><h2>Cơm cá</h2> </a></div>
      <p class="describe"> Cơm cá</p>
      <div class="product-bottom">
        <h3 class="product-price">35.000VND</h3>
        <div class="product-action">
          <button type="button">
            <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
          </button>
        </div>
      </div>
    </div>
  </li>

  </ul>
</div>

