<article class="content-menucenter">
  <div class="entry">
    <p>
      <a href="#">
        <img src="assets/images/banner5.jpg"/>
      </a>
    </p>
  </div>
</article>
<div class="main menu-main">
  <ul class="product-list">
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-coca.jpg" width="317" alt="coca" >
        </a>
        <div class="product-title">
          <a href="#"><h2>Coca </h2> </a></div>
        <p class="describe">Coca </p>
        <div class="product-bottom">
          <h3 class="product-price">19.000VND</h3>
        </div>
        <div class="product-action">
          <button type="button" onclick="openpopup()">
            <a href="#"><img src="assets/images/muahang.jpg"width="200"></a>
          </button>
        </div>
      </div>
    </li>

    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-milo.jpg" width="317" alt="milo" >
        </a>
        <div class="product-title">
          <a href="#"><h2> Milo</h2> </a></div>
        <p class="describe">Milo</p>
        <div class="product-bottom">
          <h3 class="product-price">19.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-nesttea.jpg" width="317"  alt="Nesttea">
        </a>
        <div class="product-title">
          <a href="#"><h2>Nesttea</h2> </a></div>
        <p class="describe"> Nesttea</p>
        <div class="product-bottom">
          <h3 class="product-price">20.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-ncam.jpg" width="317"  alt="Nước cam">
        </a>
        <div class="product-title">
          <a href="#"><h2>Nước cam</h2> </a></div>
        <p class="describe"> Nước cam </p>
        <div class="product-bottom">
          <h3 class="product-price">20.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-ndao.jpeg" width="317"  alt="Nước xoài đào">
        </a>
        <div class="product-title">
          <a href="#"><h2>Nước xoài đào</h2> </a></div>
        <p class="describe"> Nước xoài đào </p>
        <div class="product-bottom">
          <h3 class="product-price">20.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img src="assets/images/thucuong-cokelight.jpg" width="317"  alt="Coca light">
        </a>
        <div class="product-title">
          <a href="#"><h2>Coca light</h2> </a></div>
        <p class="describe"> Coca light </p>
        <div class="product-bottom">
          <h3 class="product-price">20.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200" ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="product-item">
      <div class="product-inner">
        <a href="#" class="product-img add-cart btn-bundle">
          <img class="special" src="assets/images/thucuong-duahau.jpg" width="317" height="278" alt="Nước ép dưa hấu"></a>
        <div class="product-title">
          <a href="#"><h2>Nước ép dưa hấu </h2> </a></div>
        <p class="describe">Nước ép dưa hấu </p>
        <div class="product-bottom">
          <h3 class="product-price">19.000VND</h3>
          <div class="product-action">
            <button type="button">
              <a href="#"><img src="assets/images/muahang.jpg"width="200"  ></a>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
